<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>You're receiving this email because you requested a password reset for your user account at TMS</p>
   

    <p>Please go to the following page and choose a new password:</p>

    <p><a href="{{ reset_password_url }}">{{ reset_password_url }}</a></p>

    <p>Your username, in case you've forgotten: <strong>{{ username }}</strong></p>


    <p>Thanks for using our site! </p>
    <p>The TMS team</p> 

</body>
</html>