<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto+Mono:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Email Template</title>
</head>
<body>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

        <!-- START HEADER/BANNER -->
        
                <tbody><tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" valign="top" background="https://i.imgur.com/5tNcbmO.jpg" bgcolor="#66809b" style="background-size:cover; background-position:top;height=" 400""="">
                                    <table class="col-600" width="600" height="400" border="0" align="center" cellpadding="0" cellspacing="0">
        
                                        <tbody><tr>
                                            <td height="40"></td>
                                        </tr>
                                        <tr>
                                            <td height="50"></td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
        
        <!-- END HEADER/BANNER -->
        
        <!-- START BOX SHOWCASE -->
        
                <tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                            <tbody><tr>
                                <td height="35"></td>
                            </tr>
        
                            <tr bgcolor="#FDF8EB">
                                <td align="center" style="font-family: 'Roboto Mono', monospace;; font-size:22px; font-weight: bold; color:#15212e;">Welcome aboard to our new<br/> Ticket Mangement System!</td>
                            </tr>
                            <tr>
                                <td bgcolor="#FDF8EB" align="center" style="font-family: 'Comfortaa', cursive;; font-size:14px; color:#525252; line-height:24px; font-weight: 400;">
                                    <br/>
                                    <br/>
                                    Hi {{ username }},<br>
                                    Thank you for signing up into our Ticket Management System.<br>
                                    We are working towards to make your life easier. So, lets get started!<br>
                                    I hope you love working here.<br>
                                    Regards.
                                </td>
                            </tr>
        
                        </tbody></table>
                    </td>
                </tr>
        
        <!--END BOX SHOWCASE-->
                
        <!-- START WHAT WE DO -->
        
                <tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px;">
        
        
        
                <tbody><tr>
                    <td align="center">
                        <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                            <tbody><tr>
                                <td height="50"></td>
                            </tr>
                            <tr>
                                <td align="right">
        
        
                                    <table class="col2" width="287" border="0" align="right" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td align="center" style="line-height:0px;">
                                                <img style="display:block; line-height:0px; font-size:0px; border:0px;" class="images_style" src="https://designmodo.com/demo/emailtemplate/images/icon-responsive.png" width="169" height="138">
                                            </td>
                                        </tr>
                                    </tbody></table>
        
        
        
        
        
        
                                    <table width="287" border="0" align="left" cellpadding="0" cellspacing="0" class="col2" style="">
                                        <tbody><tr>
                                            <td align="center">
                                                <table class="insider" width="237" border="0" align="center" cellpadding="0" cellspacing="0">
        
        
        
                                                    <tbody><tr align="left">
                                                        <td style="font-family: 'Raleway', sans-serif; font-size:23px; color:#2a3b4c; line-height:30px; font-weight: bold;">What we do?</td>
                                                    </tr>
        
                                                    <tr>
                                                        <td height="5"></td>
                                                    </tr>
        
        
                                                    <tr>
                                                        <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#7f8c8d; line-height:24px; font-weight: 300;">
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eum, voluptate quae unde quasi quos, est illo alias quisquam esse cupiditate sed, ullam error qui doloribus veritatis eveniet debitis veniam.
                                                        </td>
                                                    </tr>
        
        
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
        
        
        <!-- END WHAT WE DO -->
        
        <!--START FOOTER-->
        
                <tr>
                    <td align="center">
                        <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style=" border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                            <tbody><tr>
                                <td height="50"></td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#34495e" background="https://i.imgur.com/fp8akGJ.jpg" height="185">
                                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody><tr>
                                            <td height="25"></td>
                                        </tr>
        
                                            <tr>
                                            <td align="center" style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:#f1c40f;">Follow us on our social media!</td>
                                            </tr>
        
        
                                        <tr>
                                            <td height="25"></td>
                                        </tr>
        
        
        
                                        </tbody></table><table align="center" width="35%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td align="center" width="30%" style="vertical-align: top;">
                                                    <a href="#"> <img src="https://designmodo.com/demo/emailtemplate/images/icon-fb.png"> </a>
                                            </td>
        
                                            <td align="center" class="margin" width="30%" style="vertical-align: top;">
                                                 <a href="#"> <img src="https://designmodo.com/demo/emailtemplate/images/icon-twitter.png"> </a>
                                            </td>
        
                                            <td align="center" width="30%" style="vertical-align: top;">
                                                    <a href="#"> <img src="https://designmodo.com/demo/emailtemplate/images/icon-googleplus.png"> </a>
                                            </td>
                                        </tr>
                                        </tbody></table>
        
        
        
                                    </td></tr></tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
        
        <!-- END FOOTER -->
        
                                
                            
                        </tbody></table>
</body>
</html>